body {
	background-color: #000;
}

.container {
	width: 100%;
	height: 90%;
}

header {
    background-color: #6D7275;
    padding: 0px;
    text-align: center;
    width: 899px;
    margin: 0 auto;
    border: 3px inset;
}

.links li {
    display: inline-block;
    font-family: Brush Script MT, Arial Rounded MT Bold;
    font-size: 25px;
}

li a {
	padding: 10px;
    color: #C20114;
}

h3 {
    text-align: center;
    color: #C20114;
    font-family: Papyrus;
    font-weight: bold;
    font-size: 20px;
}

section {
    border: 3px ridge;
    max-width: 85%;
    max-height: 90%;
    margin: 3px auto;
    background-image: url("images/me.jpg");
}

p {
    font-family: Cambria;
    font-size: 16px;
    color: #930808;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}

footer {
    color: #C20114;
    text-align: center;
    font-family: Copperplate;
    margin: 5px 42%;
    padding-top: 10px;
}
