body {
	background-image: url("images/frontpage.jpg");
	margin: 5;
}

.container {
}

.links {
	float: right;
	position: fixed;
	height: 100%;
}

li a {
	display: block;
	padding: 10px;
	text-decoration: square;
	text-decoration-color: #000;
}

footer {

}